/* page.module.css */

/* Styles for the container div */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    /* background-color: #333;
    color: white; */
  }
  
  /* Styles for the main logo image */
  .logo {
    width: 50px;
    height: 50px;
  }
  
  /* Styles for the navigation links */
  .links {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  /* Styles for individual navigation links */
  .link {
    text-decoration: none;
    color: rgb(125, 124, 124);
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .link:hover {
    color: #03BCA3; /* Change the color on hover */
  }
  