
body {
  background: #222;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background: url("../Image/Bg.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.Box1 {
  background:url("../Image/logo.png");
  background-size :cover ;
}
.Box2 {
  background:url("../Image/logo.png");
  background-size :cover ;
}
.Box3 {
  background:url("../Image/logo.png");
  background-size :cover ;
}
.Box4 {
  background:url("../Image/logo.png");
  background-size :cover ;
}
.Box5 {
  background:url("../Image/logo.png");
  background-size :cover ;
}