
body {
  background: #222;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background: url("../Image/Bg.png") no-repeat;
  background-size: cover;
  background-position: center;
}
